@import "globla";
#dt2-header{
  width: rem(690);
  height: rem(100);
  padding: 0 rem(30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  >span:nth-of-type(3){
    font-size: rem(24);
  }
  >span{
    font-size: rem(32);
  }
}
#dt2-content{
  width: 100%;
  background: white;
  .dt2-content-con{
    label{
      width:rem(710);
      height: rem(80);
      padding: 0 rem(20);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: rem(30);
      color:#b6b6b6;
      input{
        width:rem(550);
        height: rem(80);
        font-size: rem(30);
        color: black;
      }
    }
  }
}